<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/332b4a35-a47d-47aa-aad0-831828f6d1bf/resourceGroups/rg-gizmogeo-dev/providers/Microsoft.Web/sites/gizmogeoapi</ResourceId>
    <ResourceGroup>rg-gizmogeo-dev</ResourceGroup>
    <ApiResourceId>/subscriptions/332b4a35-a47d-47aa-aad0-831828f6d1bf/resourceGroups/rg-gizmogeo-dev/providers/Microsoft.ApiManagement/service/gizmogeoAPIapi/apis/gizmogeoAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gizmogeoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>76dbeb90-4dda-420b-a144-f73c2b810f54</ProjectGuid>
    <MSDeployServiceURL>gizmogeoapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gizmogeoapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>